@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header-logo{
  /* width: 97.2%;
  height: 65px;
  display: flex;
  padding: 20px; */
  /* border: 2px solid red; */
  /* background-color: blueviolet;
  align-items: center; */
  /* justify-items: flex-end */
  /* color: white; */
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}
.header-logo > img{
  width: 110px;
  height: 75px;
  margin-right: 6px;
}
.header-title{
  margin-right: auto;
  margin-left: 10px;
}
.header-subtitle{
  color : rgb(236, 243, 236);
  font-style: italic;
  /* border: 2px solid white; */
  /* text-align-last: right; */
  margin-right: 6px;
}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap : 17px;
  margin-bottom: 17px;
  /* border: 10px solid orangered; */
}
.form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* border: 2px solid red; */
}
.form-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.meme {
  position: relative;
  /* border: 10px solid green; */
  width: fit-content;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}


.new-gradient-background{
  background: linear-gradient(45deg, #ad0000, #020792, #ad0000, #020792);
}

.odi-theme{
  background: linear-gradient(45deg, #0962af, #c87713, #0962af , #c87713);
}

.custom-footer{
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  margin-right: 5px;
  padding: 20px;
}

.cutom-footer > img{
  width: 110px;
  height: 75px;
  margin-right: 6px;
}